/.DS_Store
/Default (Linux).sublime-keymap
/Default (OSX).sublime-keymap
/Default (Windows).sublime-keymap
/Package Control.last-run
/Side Bar.sublime-settings
/Tomorrow-Night-Eighties.tmTheme.cache
/Package Control.cache/